
[CompType="1"]
{
    color: var(--T_Theme);
    border-style: none;
    border-color: var(--BGHH_Theme);
    border-width: 1px;
    border-bottom-style: solid;
    /*border-radius: 3px;*/
    background-color: rgba(0,0,0,0.20);
    outline: 0;
    width: 100%;
    padding: 4px;
    height: 100px;
    resize: vertical;
}


    [CompType="1"]:focus, [CompType="1"]:hover
    {
        border-color: var(--AC_Theme);
        
        filter: brightness(120%);
    }