
::-webkit-scrollbar
{
    width: 8px; /* width of the entire scrollbar */
    height: 8px;
    
}

::-webkit-scrollbar-track
{
    background: var(--BG_Theme); /* color of the tracking area */
    border-radius: 20px;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--BGH_Theme); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 0px solid var(--BG_Theme); /* creates padding around scroll thumb */
}

::-webkit-scrollbar-corner
{
    background: rgba(0,0,0,0);
}


:root,
div
{
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: var(--BGH_Theme) var(--BG_Theme); /* scroll thumb and track */
}
